.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $blue-darker;
  text-align: center;

  &__content {
    margin-top: 1rem;

    &--title {
      @include fluid-type(768px, 1920px, 26px, 48px);
      font-weight: 800;
      letter-spacing: -0.1rem;
    }
    &--subtitle {
      @include fluid-type(768px, 1920px, 14px, 28px);
    }
  }
}
