@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

$main-font: "Poppins", sans-serif;

$bg-light-color: $white;
$bg-dark-color: $black;
$font-color: $black;

$main-gradient: linear-gradient(to right, $green, $green-darker);
$bezier-curve: cubic-bezier(0.6, -0.05, 0.01, 0.99);

$breakpoints: (
  ll: 1450px,
  lg: 1024px,
  md: 768px,
  sm: 640px,
) !default;
$max-width: 1440px;

$mobile-side-padding: 1.5rem;
$side-padding: 2rem;
$default-radius: 10px;
